body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
    padding: 0;
    background-color: #607D8B;
}

a {
    text-decoration: none;
    margin-left: 15px;
}
a.link {color: black;}
a:visited {color: black;}
.blockquote-box {
    background-color: #78909C;
    border-radius: 6px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    padding: 25px;
}
.blockquote {
    height: 80%;
    width: 80%;
    align-self: center;
    justify-content: center;

}
.blockquote-text {
    font-size: 24px;
    font-weight: 600;
}
.blockquote-author {
    text-align: right;
}
.head-logo {
    width: 250px;
}
.apple-head {
    margin-left: 10px;
    font-variant: small-caps;
}

.header {
    background-color: #78909C;
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
}
.links {
    display: block;
    margin-left: 50%;
    font-variant: small-caps;
}

.maincard {
    display: flex;
    background-color: #78909C;
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
}

.maincard-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}

.card-title {
    text-align: center;
}
.cards {
    display: flex;
    text-align: center;
    height: 250px;
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #78909C;
    justify-content: center;
    margin: 5px 10px 0 10px;
    padding: 25px;
    
}

.card {
    display: inline-block;
    text-align: center;
    margin-left: 20px;
    align-self: center;
}

.subscribe {
    display: flex;
    flex-direction: column;
    background-color: #78909C;
    margin: 5px 10px 0 10px;
    border-radius: 6px;
    padding: 10px 0 10px 0;
    align-items: center;
    

}

.button {
    background-color:#039BE5;
    width: 250px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
}

footer {
    display: flex;
    height: 50px;
    text-align: center;
    align-content: center;
    border-radius: 6px;
    margin: 5px 10px 0 10px;
    justify-content: center;
    margin-top: 5px;
    font-variant: small-caps;
}


